In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Wg~123456",  
  database = 'dreamNovel'
)
cursor = mydb.cursor()
cursor.execute('SHOW TABLES;')
aa = cursor.fetchall()
import sqlite3

sqlite = sqlite3.connect('novels.db')
curSqlite = sqlite.cursor()
curSqlite.execute("SELECT name FROM sqlite_master WHERE type='table';")
sqliteTables = curSqlite.fetchall()

In [35]:
for item in sqliteTables:
    name = item[0] 
    if 'book' in name:
        cursor.execute(f"CREATE TABLE {name} (id INT AUTO_INCREMENT PRIMARY KEY, chapter VARCHAR(50), novelText TEXT)")
        curSqlite.execute(f'SELECT * FROM {name}')
        tempBook = curSqlite.fetchall()
        for row in tempBook:
            sql = f"INSERT INTO {name} (chapter, novelText) VALUES (%s, %s)"
            data_book = (row[1], row[2])
            cursor.execute(sql,data_book)
            
        mydb.commit()
        print(name,len(tempBook))

book1 1259
book2 762
book3 2106
book4 380
book5 406
book6 403
book7 1305
book8 157
book9 1533
book10 611
book11 255
book12 1808
book13 229
book14 2097
book15 199
book16 3363
book17 1012
book18 648
book19 277
book20 675
book21 1296
book22 469
book23 277
book24 304
book25 2392
book26 441
book27 445
book28 252
book29 1221
book30 890
book31 3328
book32 1134
book33 314
book34 1196
book35 251
book36 902
book37 410
book38 6653
book39 2209
book40 452
book41 300
book42 553
book43 969
book44 1546
book45 456
book46 1277
book47 1805
book48 3328
book49 1376
book50 231
book51 1502
book52 6010
book53 3951
book54 1805
book55 2984
book56 1974
book57 1674
book58 769
book59 5390
book60 687
book61 3365
book62 5573
book63 6013
book64 973
book65 1431
book66 5719
book67 3054
book68 4377
book69 1472
book70 1534
book71 4226
book72 1731
book73 2216
book74 3178
book75 3130
book76 2369
book77 1433
book78 4351
book79 6357
book80 6423
book81 1567
book82 5977
book83 496
book84 2509
book85 1029
book86 1352
book87 137
book88 2382

DataError: 1406 (22001): Data too long for column 'novelText' at row 1

In [34]:
cursor.execute('DROP TABLE  book1')

In [ ]:
aa